<h1>Memlist using local javascript</h1>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton1" 
       	       data-revealed-text="item to learn 1" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton2" 
       	       data-revealed-text="item to learn 2" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton3" 
       	       data-revealed-text="item to learn 3" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>


