<h3>Memlist using local javascript</h3>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton1" 
       	       data-revealed-text="item to learn 1" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton2" 
       	       data-revealed-text="item to learn 2" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton3" 
       	       data-revealed-text="item to learn 3" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton4" 
       	       data-revealed-text="item to learn 4" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton5" 
       	       data-revealed-text="item to learn 5" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton6" 
       	       data-revealed-text="item to learn 6" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton7" 
       	       data-revealed-text="item to learn 7" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
       <button type="button" id="myStateButton8" 
       	       data-revealed-text="item to learn 8" 
  	       class="btn btn-primary btn-block item-button" autocomplete="off">
	       click to reveal item
       </button>
  </div>
</div>

