/* ==========================================================================                                                       
   Author's custom styles - add here rather than in main.css to allow for
   easy update of main.css whenever html boilerplate package is updated                                                                                                           
   ========================================================================== */
a.currency {
  text-decoration: none;
}
.currency.selected {
  font-weight: bold;
  font-size: 150%;
}
body {
  background-image: url("/img/background.jpg");
}
